# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

src/test

# Files from Forge MDK
forge*changelog.txt
/.gradle
*.lock
/build
/.gradle
/build
libs/Atlas-Lib-1.12.2-1.1.6.jar
